@import "./bootstrap/variables.less";

// add custom styles here
body {
  font-family: 'Raleway', sans-serif;
  @media (min-width: @screen-sm-min) {
    padding-top: 50px;
  }
}

// mixin for title block
.title-block() {
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  padding: 8px;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
}

.hero {
  background-image: url("./img/hero.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 500px;
  padding: 20px;
  > h1 {
    font-size: 30px;
    margin-top: 0;
    .title-block;
  }
  > h2 {
    font-size: 20px;
    margin-top: 0;
    .title-block;
  }
  @media (min-width: @screen-sm-min) {
    > h1 {
      font-size: 48px;
    }
    > h2 {
      font-size: 30px;
    }
  }
}

section {
  padding: 30px;
  &:nth-of-type(even) {
    background-color: @gray-lighter;
  }
}

.section-header {
  font-size: @font-size-h1;
  text-align: center;
  margin-bottom: 30px;
}

.event-detail {
  font-size: @font-size-large;
  dt {
    font-size: @font-size-h3;
  }
}

.mta {
  display: inline-block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  font-family: 'Arial', Helvetica, sans-serif;
  padding-top: 1px;
  &.mta-yellow {
    background-color: yellow;
  }
  &.mta-green {
    background-color: green;
    color: white;
  }
  &.mta-blue {
    background-color: blue;
    color: white;
  }
  &.mta-brown {
    background-color: brown;
    color: white;
  }
  &.mta-red {
    background-color: red;
    color: white;
  }
}

#registry {
  p, a {
    font-size: @font-size-large;
  }
}
.registry-link {
  display: block;
  width: 300px;
}

.faq-question {
  margin-bottom: 40px;
  > p {
    font-size: @font-size-large;
  }
}
